body {
  background-image :url(http://images.123hdwallpapers.com/20150423/grey-linux-wallpaper-1920x1200.jpg);
  color: lightgrey;}

h1 {
  text-align: center;
}


div {
  text-align: center;
background-color: rgba(0, 0, 0, 0.5);
color: white;
}

p {
  text-align: center;
  color: white;
}
